<!--
  Generated template for the DiagonisePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Patient Diagonise</ion-title>
    <!-- <ion-buttons start>
      <button ion-button menuToggle="leftMenu">
          <ion-icon	name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>{{Name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked>Search for the Symptoms</ion-label>
  </ion-item>
  <ion-item>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list *ngIf="showList">
      <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        {{ item }}
      </ion-item>
    </ion-list>
  </ion-item>
  <!-- <ion-item>
    <ion-input type="text" Name='symptoms' [(ngModel)]="_symptoms" placeholder="Your Symptoms" readonly="true"> </ion-input>
  </ion-item> -->
  <ion-item>
    <ion-tags-input [type]="'text'" [color]="'secondary'" [mode]="'md'" [(ngModel)]="textItem"></ion-tags-input>
  </ion-item>
  <button ion-button block type="submit" (click)='prescribe()'>
      Prescription
    </button>

  <ion-item>
    <ion-label stacked>Doctor Report</ion-label>
    <ion-input type="text" Name='diseasesType' [(ngModel)]="_diseasesType" 
    placeholder="Your Diseases type" readonly="true"></ion-input>
    <ion-textarea Name="doctorReport" [(ngModel)]="_doctorReport" 
    placeholder="Details" readOnly></ion-textarea>
  </ion-item>
  <button ion-button block type="submit">
      Submit
    </button>

</ion-content>